body{
	padding: 0;
	margin: 0;
}
nav {
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	height: 70px;
	padding: 0 1.5em;
	background-color: #FFFAFA;
	font-family: 'Montserrat', sans-serif;
	box-shadow: 1px 1px 1px 1px rgba(153,0,0);
}
nav .logo {
	font-size: 1.25em;
	line-height: 70px;
	color: #fff;
	padding-top: 12px;
}
nav .nav-menu {
	position: absolute;
	right: 1.5em;
	top: 0;
	padding: 0;
	margin: 0;
	list-style: none;
	
}
nav .nav-item {
	display: inline-block;
}
nav .nav-item > a {
	display: inline-block;
	padding: 0 1.0em;
	line-height: 70px;
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}
nav .dropdown {
	position: relative;
	cursor: pointer;
}
nav .dropdown a::after {
	content: '';
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
	border-top: .3em solid #990000;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}
nav .dropdown.show a::after {
	transform: rotate(180deg);
}
nav .dropdown-menu {
	display: none;
	position: absolute;
	left: 0px;
	right: -80px;
	top: 100%;
	padding: .5em 0;
	margin-top: -.5em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .5em;
	background-color: #FFFAFA;
}
nav .dropdown.show .dropdown-menu {
	display: block;
}
nav .dropdown-item {
	display: block;
	padding: 0 1.5em;
	font-size: .875em;
	color: #990000;
	line-height: 2;
	text-decoration: none;
	font-weight: bold;
}
nav .btn-hamburger {
	display: none;
	position: absolute;
	right: 1.5em;
	top: 50%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	transform: translateY(-50%);
}
nav .btn-hamburger span {
	display: block;
	width: 30px;
	height: 4px;
	background-color: #990000;
	margin: 6px;
	border-radius: 2px;
	transition: .3s ease-in-out;
}
nav .btn-hamburger span:nth-child(4),
nav .btn-hamburger span:nth-child(5) {
	position: absolute;
	top: 10px;
	opacity: .5;
}
nav .btn-hamburger span:nth-child(4) {
	transform: rotate(45deg) scale(0);
}
nav .btn-hamburger span:nth-child(5) {
	transform: rotate(-45deg) scale(0);
}
nav.opened .btn-hamburger span:nth-child(4) {
	opacity: 1;
	transform: rotate(45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(5) {
	opacity: 1;
	transform: rotate(-45deg) scale(1);
}
nav.opened .btn-hamburger span:nth-child(1),
nav.opened .btn-hamburger span:nth-child(2),
nav.opened .btn-hamburger span:nth-child(3) {
	opacity: 0;
}

nav .dropdown1 {
	position: relative;
}
nav .dropdown1 a::after {
	content: '';
	display: inline-block;
	margin-left: .5em;
	vertical-align: middle;
	border-top: .3em solid #990000;
	border-right: .3em solid transparent;
	border-left: .3em solid transparent;
}
nav .dropdown1.show a::after {
	transform: rotate(180deg);
}
nav .dropdown1-menu {
	display: none;
	position: absolute;
	left: 0px;
	right: -80px;
	top: 100%;
	padding: .5em 0;
	margin-top: -.5em;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .5em;
	background-color: #FFFAFA;
}
nav .dropdown1.show .dropdown1-menu {
	display: block;
}
nav .dropdown1-item {
	display: block;
	padding: 0 1.5em;
	font-size: .875em;
	color: #990000;
	line-height: 2;
	text-decoration: none;
	font-weight: bold;
}


@media screen and (max-width: 1300px) {
	nav .nav-menu {
		position: fixed;
		left: 0;
		right: 0;
		top: 70px;
		bottom: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		background-color: #FFFAFA;
		transition: bottom .5s ease-in-out;
		overflow: hidden;
	    box-shadow: 1px 1px 1px 1px rgba(153,0,0);
	}
	nav.opened .nav-menu {
		bottom: 0;
		overflow: scroll;
	}
	nav .nav-item > a {
		display: block;
	}
	nav .dropdown-menu {
		position: relative;
		top: 0;
		margin: 0 1.5em;
	}
	nav .btn-hamburger {
		display: block;
	}
		nav .dropdown1-menu {
		position: relative;
		top: 0;
		margin: 0 1.5em;
	}
}
