body 
{
  background-color:  lightblue;
}
table 
{
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
td 
{
    display: table-cell;
    vertical-align: inherit;
}

   